# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

A002_C018_0922BW_002.mp4
IMG_5938.MOV
Test_Project.prpoj
Adobe Premiere Pro Auto-Save
Example Clip Lifeline